<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center ; color:rgb(136, 158, 39);">
  <h2>Agenda tu Cita</h2>



  <div class="example-container">
      <mat-form-field>
          <mat-select placeholder="Elige Prodecimiento" [(ngModel)]="selectedValue" name="food"    [(value)]="selectedProcedimiento" (blur)="onBlur()" >
              <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <h4></h4>

                <mat-form-field>
                    <mat-select placeholder="Tipo Prodecimiento" name="procedimiento">
                        <mat-option *ngFor="let procedimiento of procedimientos" [value]="procedimiento.value">
                            {{procedimiento.viewValue}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
                  <h4></h4>
        


      <mat-form-field>
        <input matInput type="string" name="id" [(ngModel)]=itemC.idUser  placeholder="Id">
      </mat-form-field>

      <mat-form-field>
          <input  matInput type="number" name="id_number" [(ngModel)]=itemC.id_number  placeholder="Nro Identidad">
      </mat-form-field>
                <!-- falta revisar esto!!!!!!!!!!!! -->
      <mat-form-field>
        <mat-select placeholder="Tipo De Identificacion">
          <mat-option value="option">C.C</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
          <input  matInput type="date" name="birthDate" [(ngModel)]=itemC.birthDate  placeholder="Fecha Nacimiento">
      </mat-form-field>


      <mat-form-field>
          <mat-select placeholder="Unidad de Edad">
            <mat-option value="1">1(años)</mat-option>
            <mat-option value="2">2(meses)</mat-option>
            <mat-option value="3">3(dias)</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Sexo">
              <mat-option value="m">Masculino</mat-option>
              <mat-option value="f">Femenimo</mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field>
                <mat-select placeholder="Departamento" [(value)]="itemC.codeDepartament">
                  <mat-option value="--falta ">Bolivar</mat-option>
                  <mat-option value="--falta">Atlantico</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field>
                    <mat-select placeholder="Municipio" [(value)]="itemC.codeTown">
                      <mat-option value="001">Cartagena</mat-option>
                      <mat-option value="002">Turbaco</mat-option>
                    </mat-select>
                </mat-form-field>





        <mat-form-field>
            <mat-select placeholder="Zona Residencial" [(value)]="itemC.residentialArea">
              <mat-option value="U">U(Urbano)</mat-option>
              <mat-option value="R">R(Rural)</mat-option>
            </mat-select>
        </mat-form-field>



    </div>

  <form action="">

  <br>

  <button (click)=addItem() >Registar Usuario </button>
  </form>
  <h3>--------------------------</h3>
    <ul>
  <li *ngFor="let item of items">


    <input readonly type="string" name="id" [(ngModel)]=item.first_name  >
    <input readonly type="string" name="name" [(ngModel)]=item.id_number  >
    <!-- <button (click)=removeItem(item) >Delete </button> -->
    </li>
  </ul>
  <button (click) ="eventoLocoUno()">  botonAPI </button>
</div>

